.list{
    margin-top: 3rem;
    display: grid;
    padding: 50px;
    grid-auto-flow: column;
}
/*
.grid-container {
    display: grid;
    grid-auto-flow: column;
  }
  */
.items{
    width: 10rem;
}


