.form-center {
    margin-top: 2rem;
    border-radius: 0px 5px 5px 0px;
    width: 30vw;
    height: 34.5px;
    background-color: #ffffff;
    border: none;
    margin-right: 40rem;
  }
  
  .icon {
    background-color: #ffffff;
    margin-top: 2rem;
    padding: 0.3rem;
    border-radius: 5px 0 0 5px;
    color: grey;
  }
  
  #searchBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 45vw;
  }
  
  .container {
    height: 7vh;
  }